body,
html {
    height: 100%;
    margin: 0;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home {
    text-align: center;
    padding: 20px;
    border: 1px solid grey;
    background-color: white;
}

.todos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.applist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.persist1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.persist2 {
    text-align: center;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 12px;
    background-color: white;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}